body {
	margin: 0;
}

header {
	background: #666;
	color: #fff;
	padding: 15px 15px 0px 15px;
}

header h1 {
	margin: 0;
	display: inline;
}

nav ul {
	margin: 0;
	display: inline;
	padding: 0 0 0 15px;
	clear: both;
}

nav ul li {
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
	text-decoration: none;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	color: red;
}

.row {
	margin: 5px 0px;
}

.col {
	background: #333;
	border-radius: 50px;
	color: white;
	padding: 5px 0px;
	float: left;
	margin: 0%;
	width: 25%;
	text-align: center;
}

footer {
	padding: 100px 10px;
	text-align: center;
	font-weight: bold;

}

/*
.fancy {
	color: magenta;
	font-family: cursive;
	font-weight: bold;
}

img {
	border-radius: 50%;
	border: 10px solid magenta;

}

*/